@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Patrick+Hand&display=swap");

/* Artist Flow Styling */
.App {
  height: auto;
}

.IntroLine {
  min-height: 50vh;
}

.Artist-page {
  background-color: #f4efdb;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10%;
  font-size: calc(10px + 2vmin);
  padding-top: 5%;
}

.artist-header {
  font-size: 80px;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  color: #ea4c29;
  margin-top: 0px;
  text-align: center;
}

.artist-subheader {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: "Patrick Hand", cursive;
  color: #ea4c29;
}

.artist-row {
  display: flex;
  overflow: column;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
  width: 100%;
}

.artist-row > button {
}

.artist-row:not(:last-child) {
  margin-bottom: 16px;
}

.col {
  align-items: center;
  justify-content: center;
  display: inline;
  margin: 15px;
}

.navigationButtons {
}

.navigation-button-style-next {
  height: 60px;
  width: auto;

  border-width: 4px;
  border-color: white;
  border-radius: 10px;

  padding-left: 40px;
  padding-right: 40px;
  margin-left: 20px;

  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;

  background-color: #ea4c29;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  position: absolute;
  right: 10%;
  bottom: 50px;
}

.navigation-button-style-next:hover {
  color: #d31d0f;
}

/* Adding transformation when the button is active */
.navigation-button-style-next:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.navigationButtons {
  position: relative;
}

.navigation-button-style-back {
  height: 60px;
  width: auto;

  border-width: 4px;
  border-color: #ea4c29;
  border-radius: 10px;

  padding-left: 40px;
  padding-right: 40px;
  margin-left: 20px;

  cursor: pointer;

  font-size: 16px;
  font-weight: bold;
  color: #ea4c29;

  background-color: white;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  position: absolute;
  left: 10%;
  bottom: 50px;
}

.navigation-button-style-back:hover {
  color: #d31d0f;
}

/* Adding transformation when the button is active */
.navigation-button-style-back:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

/* Artist Page1 Flow Styling */
.artist-flow-body {
  text-align: left;
  display: inline;
}

.input-style {
  height: 60px;
  min-width: 400px;
  width: 80%;

  border-width: 4px;
  border-color: #ea4c29;
  border-radius: 10px;

  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2%;

  display: inline-flex;

  font-size: 20px;
  color: black;
  background-color: white;
}

.input-style:focus {
  outline: none;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece;
}

.addAnotherButton {
  width: 150px;
  margin-left: 25px;
  border-radius: 25px;
  background-color: #d31d0f;
  color: white;
  font-weight: bold;
  align-self: center;
}

.addAnotherButton:hover {
  color: purple;
}

/* Adding transformation when the button is active */
.addAnotherButton:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

/* Artist Page2 Flow Styling */
.input-style-short {
  height: 60px;
  min-width: 200px;
  width: auto;

  border-width: 4px;
  border-color: #ea4c29;
  border-radius: 10px;

  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2%;

  display: inline-flex;

  font-size: 20px;
  color: black;
  background-color: white;
}

.input-style-short:focus {
  outline: none;
  border: 1px solid red;
  box-shadow: 0 0 10px #719ece;
}

.input-style-short-disabled {
  height: 60px;
  min-width: 200px;
  width: auto;

  border-width: 4px;
  border-color: #ea4c29;
  border-radius: 10px;

  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2%;

  display: inline-flex;

  font-size: 20px;
  color: black;
  background-color: #fbeaeb;
}

.input-style:focus {
  border: px solid rgb(98, 0, 255);
}

.questionPrompt {
  text-align: end;
  margin-top: 2%;
  margin-right: 1%;
  min-width: 200px;
  max-width: 200px;
}

/* Artist Page3 Flow Styling */
.container-title {
  color: white;
  display: flex;
  float: top;
  justify-content: center;
  font-family: "Patrick Hand", cursive;
  font-size: 30px;
  margin: 15px;
}

.dark-container {
  width: 350px;
  min-width: 300px;
  min-height: 250px;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  padding: 2%;
  margin: 15px;

  font-size: 20px;
  font-weight: bold;
  text-align: center;

  display: flex;
  flex-direction: column;

  color: white;
  background-color: #ea4c29;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.dark-container-wide {
  height: auto;
  width: 800px;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  /* margin: 10%; */
  padding: 2%;

  font-size: 20px;
  font-weight: bold;
  text-align: center;
  align-items: center;

  justify-content: center;
  vertical-align: middle;

  color: white;
  background-color: #ea4c29;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.light-container {
  height: 80%;
  width: 80%;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  margin: 10%;

  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;

  color: #ea4c29;
  background-color: white;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Attempting to deal with the image fitting a size */
}
.light-container-short {
  height: 120px;
  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  font-size: 36px;
  font-weight: bold;

  color: #ea4c29;
  background-color: white;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Attempting to deal with the image fitting a size */
}

.CategoryChoser {
  align-items: center;
  vertical-align: middle;
}

.file-upload {
  height: auto;
  width: 80%;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  cursor: pointer;

  font-size: 16px;
  font-weight: bold;

  margin: 15px;

  color: #d31d0f;

  display: inline-flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.upload-container {
}

.upload-button {
  background-color: white;
  align-self: center;
  display: flex;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.upload-button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.upload-button:hover {
  color: purple;
}

.descriptionParagraph {
  width: 100%;
  text-align: center;
}

.row {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 15px;
}

.column {
  margin: 10px;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  text-align: center;
}

.toggle-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.selected-button {
  margin-left: 2%;
  margin-right: 2%;
  color: white;
  border-color: #d31d0f;
  background-color: #ea4c29;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.selected-button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.unselected-button {
  margin-left: 2%;
  margin-right: 2%;
  color: #ea4c29;
  border-color: #d31d0f;
  background-color: white;
  border-radius: 10px;
  border-width: 3px;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.unselected-button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.preview {
  max-height: 100%;
  max-width: 250px;
  min-width: 100%;
  float: center;
  display: flex;
  top: 10px;
}

.exampleImage {
  width: 50%;
  height: 50%;
}

.exampleText {
  display: inline-flex;
  align-items: left;
  justify-content: left;
  left: 0%;
  align-content: left;
  text-align: left;
  color: #ea4c29;
}

input[type="radio"] {
  display: none;
}

.radio-label {
  display: inline-block;
  padding: 3px;
  border: 3px solid #d31d0f;
  border-radius: 3px;
  background-color: #f0f0f0;
  width: 90%;
  text-align: center;
  color: #ea4c29;
  margin: 5px;
}

.radio-label-buy-date {
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  border: 3px solid white;
  width: 75%;
  text-align: center;
  align-self: center;
  color: black;
  margin-top: -20px;
  margin-bottom: 10px;
  background-color: lightgrey;
}

.radio-label-disabled {
  display: inline-block;
  padding: 3px;
  border: 3px solid #d31d0f;
  border-radius: 3px;
  background-color: #eea989;
  width: 90%;
  text-align: center;
  color: #ea4c29;
  margin: 5px;
}

/* Clicking a label will select its corresponding hidden radio button
   We can select that radio buttons sibling label and style it. */
input[type="radio"]:checked + label {
  background-color: #a0a0a0;
}

.error {
  width: 270px;
  color: #d8000c;
  background-color: #ffd2d2;
  margin: 10px 22px;
  font-size: 18px;
  vertical-align: middle;
}

.Summary-container {
  padding: 25px;
  justify-content: center;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.Summary-Data:hover {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.Summary-Header {
  text-align: center;
  font-weight: bolder;
  font-size: 45px;
  font-family: "Bad Script", cursive;
  color: #ea4c29;
  width: 100%;
}

.Summary-Header-title {
  font-family: "Patrick Hand", cursive;
  color: #ea4c29;
  font-weight: bolder;
  text-shadow: 1px 1px 2px rgb(185, 181, 181);
  font-size: larger;
  margin-bottom: 10px;
  margin-left: 15px;
}

.Summary-Data {
  background-color: #ea4c29;
  border-radius: 10px;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  width: 350px;
  height: auto;
  min-height: 150px;

  text-align: center;
  justify-content: center;
  font-size: 30px;
  align-items: center;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  padding: 15px;
}

.Summary-Data-attribute {
  background-color: #ea4c29;
  border-radius: 10px;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  width: auto;
  height: auto;
  min-height: 150px;

  text-align: center;
  justify-content: center;
  font-size: 30px;

  display: flex;
  padding: 10px;
}

.Summary-Main {
  background-color: white;
  border-radius: 10px;
  color: #ea4c29;
  width: 90%;
  min-height: 50px;
  font-weight: bolder;
  padding: 10px;
  align-items: center;
}

.Summary-Main-attribute {
  background-color: white;
  border-radius: 10px;
  color: #ea4c29;
  font-family: "Patrick Hand", cursive;

  min-height: 50px;
  justify-content: center;

  margin-left: 30px;
  margin-right: 30px;
  padding: 15px;
  text-align: left;
}

.small-text {
  font-size: 15px;
  color: lightgray;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  vertical-align: middle;
  text-align: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.summary-row {
  display: inline-flex;
  justify-content: center;
  padding: 25px;
  max-width: 80%;
  flex-wrap: wrap;
  align-items: center;
}

.Summary-Image-title {
  color: #f4efdb;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-family: "Patrick Hand", cursive;
}

.distributionTitle {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  text-decoration: underline;
}

.edit-summary {
  background-color: white;
  border-radius: 10px;
  color: #ea4c29;
  font-weight: bolder;

  padding: 30px;
  margin: 20px;
  height: auto;

  font-size: 20px;

  display: inline-flex;
  flex-direction: row;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  text-align: center;
}

.edit-summary:focus {
  border: px solid rgb(98, 0, 255);
}

.location-summary {
  max-width: 350px;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.edit-summary-loc {
  background-color: white;
  border-radius: 10px;
  color: #ea4c29;
  font-weight: bolder;

  padding: 15px;
  margin: 15px;
  height: auto;

  font-size: 15px;
  max-width: 80%;

  text-align: center;
}

.EditButton {
  background: none;
  border: none;
  min-height: 50px;
  width: 100%;

  display: flex;
}

.save-button {
  background: darkred;
  color: #f4efdb;
  border-radius: 5px;
  border-color: aqua;

  border: none;
  padding: 5px;
  margin-right: 10px;
  float: right;

  font-size: 15px;

  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.save-button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.save-button:hover {
  color: lightcoral;
}

.date-input-style {
  padding: 20px;
  width: 300px;
  background-color: #f4efdb;
  margin: 10px;
}

/* For Reference for later usage.....

  @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

*/

/* mint css */
.redeem-button {
  margin-left: 2%;
  margin-right: 2%;

  align-self: center;

  height: 100px;
  width: 350px;

  font-size: 30px;

  color: #ea4c29;

  border-color: #d31d0f;
  background-color: white;

  border-radius: 10px;
  border-width: 10px;

  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.redeem-button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.dark-container-mint {
  width: 350px;
  min-width: 300px;
  min-height: 250px;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  padding: 2%;
  margin: 15px;

  font-size: 20px;
  font-weight: bold;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-self: center;

  color: white;
  background-color: #ea4c29;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}