@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Patrick+Hand&display=swap");

Body {
  background-color: #fbeaeb;
}

/* Home page */
.Home-page {
  text-align: center;
  background-color: #fbeaeb;
  color: #2f3c7e;
}

.Home-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: -5%;
}

.Home-title-container {
  font-size: 40px;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  color: #2f3c7e;
  margin: 20%;
}

.home-row {
  display: flex;
  justify-content: center;
  margin-top: -10%;
}

.home-row > button {
  margin-left: 40px;
  margin-right: 40px;
}

.home-row:not(:last-child) {
  margin-bottom: 16px;
}

.home-button-style {
  height: 80px;
  border-width: 4px;
  border-color: white;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #2f3c7e;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.home-button-style:hover {
  color: lightblue;
}

/* Adding transformation when the button is active */
.home-button-style:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.selected-button {
  height: 80px;
  border-width: 4px;
  border-color: #2f3c7e;
  width: auto;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #2f3c7e;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.unselected-button {
  height: 80px;
  border-width: 4px;
  border-color: #2f3c7e;
  width: auto;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #2f3c7e;
  background-color: white;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

/* Floating Dots */
@media (prefers-reduced-motion: no-preference) {
  .dot1 {
    animation: grow infinite 9s ease-in-out;
  }
}
.dot1 {
  color: #2f3c7e;
  left: 15%;
  top: 30%;
  position: absolute;
}
@media (prefers-reduced-motion: no-preference) {
  .dot2 {
    animation: grow infinite 8s ease-in-out;
  }
}
.dot2 {
  color: #2f3c7e;
  right: 15%;
  top: 60%;
  position: absolute;
}
@keyframes grow {
  0% {
    transform: scale(0.2);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.2);
  }
}
/* Floating Dots End */
/* Home Page End */

/* ToolBar Styling */
.navBar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: transparent;
  transition: 0.4s;
  font-family: "Patrick Hand", cursive;
}

.navLogo {
  padding: 22px 15px;
  height: 80px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2f3c7e;
  float: left;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
}

nav ul li a {
  line-height: 80px;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
}

nav ul li a:hover {
  color: lightblue;
}

.navButton {
  color: #2f3c7e;
  margin: 3px;
}

.walletButton {
  color: white;
  background-color: #2f3c7e;
  border-radius: 10px;
  box-shadow: 7px 6px 28px 2px rgba(0, 0, 0, 0.24);
  margin: 5px;
}

.walletButton:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.navLogo {
  height: 7vmin;
  float: left;
  margin-left: 0%;
  margin-top: 2%;
}
/* ToolBar Styling end */

/* Artist Flow Styling */
.Artist-page {
  background-color: #fbeaeb;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 10%;
  font-size: calc(10px + 2vmin);
  padding-top: 5%;
}

.artist-header {
  font-size: 80px;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  color: #2f3c7e;
  margin-top: -10%;
  text-align: center;
}

.artist-subheader {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  font-family: "Patrick Hand", cursive;
  color: #2f3c7e;
  padding-bottom: 40px;
  margin-top: 10%;
}

.artist-row {
  display: flex;
  justify-content: left;
  margin-left: -5%;
}

.artist-row > button {
}

.artist-row:not(:last-child) {
  margin-bottom: 16px;
}

.navigation-button-style-next {
  height: 60px;
  border-width: 4px;
  border-color: white;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #2f3c7e;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
  position: fixed;
  right: 10%;
  bottom: 20px;
}

.navigation-button-style-next:hover {
  color: lightblue;
}

/* Adding transformation when the button is active */
.navigation-button-style-next:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.navigation-button-style-back {
  height: 60px;
  border-width: 4px;
  border-color: #2f3c7e;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #2f3c7e;
  background-color: white;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
  position: fixed;
  left: 10%;
  bottom: 20px;
}

.navigation-button-style-back:hover {
  color: lightblue;
}

/* Adding transformation when the button is active */
.navigation-button-style-back:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

/* Artist Page1 Flow Styling */
.artist-flow-body {
  text-align: left;
  display: inline;
}

.input-style {
  height: 60px;
  min-width: 400px;
  width: auto;

  border-width: 4px;
  border-color: #2f3c7e;
  border-radius: 10px;

  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2%;

  display: inline-flex;

  font-size: 20px;
  color: black;
  background-color: white;
}

.addAnotherButton {
  width: 10%;
  margin-left: 25px;
  border-radius: 25px;
  background-color: #2f3c7e;
  color: white;
  font-weight: bold;
}

.addAnotherButton:hover {
  color: lightblue;
}

/* Adding transformation when the button is active */
.addAnotherButton:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
  background-color: gray;
}

/* Artist Page2 Flow Styling */
.input-style-short {
  height: 60px;
  min-width: 200px;
  width: auto;

  border-width: 4px;
  border-color: #2f3c7e;
  border-radius: 10px;

  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2%;
  margin-right: 2%;

  display: inline-flex;

  font-size: 20px;
  color: black;
  background-color: white;
}

.input-style-short-disabled {
  height: 60px;
  min-width: 200px;
  width: auto;

  border-width: 4px;
  border-color: #2f3c7e;
  border-radius: 10px;

  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  padding-left: 40px;
  padding-right: 40px;
  margin-top: 2%;
  margin-right: 2%;

  display: inline-flex;

  font-size: 20px;
  color: black;
  background-color: #fbeaeb;
}

.input-style:focus {
  border: px solid rgb(98, 0, 255);
}

.questionPrompt {
  text-align: end;
  margin-top: 2%;
  margin-right: 1%;
  min-width: 200px;
  max-width: 200px;
}

/* Artist Page3 Flow Styling */
.dark-container {
  height: 450px;
  width: 450px;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  /* margin: 10%; */
  padding: 2%;

  font-size: 20px;
  font-weight: bold;
  text-align: center;

  justify-content: center;

  color: white;
  background-color: #2f3c7e;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.dark-container-wide {
  height: 450px;
  width: auto;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  /* margin: 10%; */
  padding: 2%;

  font-size: 20px;
  font-weight: bold;
  text-align: center;

  justify-content: center;

  color: white;
  background-color: #2f3c7e;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.light-container {
  height: 80%;
  width: 80%;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  margin: 10%;

  font-size: 16px;
  font-weight: bold;

  color: #2f3c7e;
  background-color: white;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Attempting to deal with the image fitting a size */
}
.light-container-short {
  height: 120px;
  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  font-size: 36px;
  font-weight: bold;

  color: #2f3c7e;
  background-color: white;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* Attempting to deal with the image fitting a size */
}

.file-upload {
  height: 80%;
  width: 80%;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  margin: 10%;

  cursor: pointer;

  font-size: 16px;
  font-weight: bold;

  color: #2f3c7e;
  background-color: white;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: inline-flex;
  padding: 3%;
}

.column {
  margin: 5%;
}

.toggle-row {
  display: flex;
  justify-content: center;
  width: 100%;
}

.selected-button {
  margin-left: 2%;
  margin-right: 2%;
  color: white;
  background-color: #2f3c7e;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.selected-button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.unselected-button {
  margin-left: 2%;
  margin-right: 2%;
  color: #2f3c7e;
  background-color: white;
  border-radius: 10px;
  border-width: 3px;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.unselected-button:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.preview {
  max-height: 100%;
  max-width: 100%;
  min-width: 100%;
  mask-image: initial;
}

.exampleImage {
  width: 50%;
  height: 50%;
}

.exampleText {
  display: inline-flex;
  align-items: left;
  justify-content: left;
  left: 0%;
  align-content: left;
  text-align: left;
  color: #2f3c7e;
}

input[type="radio"][name="buttonGroup"] {
  display: none;
}

.radio-label {
  display: inline-block;
  padding: 3px;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  background-color: #f0f0f0;
  width: 10em;
  text-align: center;
  color: #2f3c7e;
}

/* Clicking a label will select its corresponding hidden radio button
   We can select that radio buttons sibling label and style it. */
input[type="radio"][name="buttonGroup"]:checked + label {
  background-color: #a0a0a0;
}

.error {
  width: 270px;
  color: #d8000c;
  background-color: #ffd2d2;
  margin: 10px 22px;
  font-size: 18px;
  vertical-align: middle;
}

/* For Reference for later usage.....



  @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

*/
