@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Patrick+Hand&display=swap');

.App {
  /* text-align: center; */
}

.App-page {
  text-align: center;
  background-color: #fbeaeb;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 5%;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.title-container {
  font-size: 100px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  color: #2f3c7e;
  margin: 2%;
}

.subtitle-container {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Patrick Hand', cursive;

  color: #2f3c7e;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 20px;
  margin-right: 20px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.button-style {
  height: 80px;
  border-width: 4px;
  border-color: white;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #2f3c7e;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.button-style:hover {
  color: lightblue;
}

/* Adding transformation when the button is active */  
.button-style:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}


@keyframes grow {
  0% {
      transform: scale(0);
  }
  50% {
      transform: scale(30);
  }
  100% {
      transform: scale(0);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .dot1 {
    animation: grow infinite 10s ease-in-out;
  }
}

.dot1 {
  color: #2f3c7e;
  left: 20%;
  position: absolute;
}


@media (prefers-reduced-motion: no-preference) {
  .dot2 {
    animation: grow infinite 10s ease-in-out;
  }
}

.dot2 {
  color: #2f3c7e;
  right: 20%;
  position: absolute;
}