@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Patrick+Hand&display=swap");

.App {
  /* text-align: center; */
}

.App-page {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.title-container {
  font-size: 100px;
  font-family: "Bad Script", cursive;
  font-weight: bold;
  color: #ea4c29;
  margin: 2%;
}

.subtitle-container {
  font-size: 40px;
  font-weight: bold;
  font-family: "Patrick Hand", cursive;
  color: #ea4c29;
  padding-bottom: 40px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row > button {
  margin-left: 20px;
  margin-right: 20px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.button-style {
  height: 80px;
  border-width: 4px;
  border-color: white;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #2f3c7e;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.button-style:hover {
  color: #d31d0f;
}

/* Adding transformation when the button is active */
.button-style:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.SubTitle {
  font-weight: lighter;
  font-size: 30px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  color: #ea4c29;
}

.FAQContainer {
  height: auto;
  width: auto;
  min-width: 200px;
  max-width: 450px;

  display: inline-block;
  flex-wrap: wrap;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  /* margin: 10%; */
  padding: 2%;
  margin: 10px;

  font-size: 20px;
  text-align: left;
  font-family: "Patrick Hand", cursive;

  justify-content: center;
  text-decoration: none;

  color: #ea4c29;
  background-color: #f4efdb;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.FAQContainer:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.FAQTitle {
  font-weight: bolder;
  font-size: 25px;
  text-align: center;
  font-family: "Bad Script", cursive;
}

.FAQBody {
  color: black;
  text-decoration: none;
}

.row-prinicpals {
    min-width: 100%;
    align-items: center;
    flex-direction: column;
  }