@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Patrick+Hand&display=swap');


.App {
  /* text-align: center; */
}

.App-page {
  text-align: center;
  background-color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-top: 10%;
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.title-container {
  font-size: 100px;
  font-family: 'Bad Script', cursive;
  font-weight: bold;
  color: #EA4C29;
  margin: 2%;
}

.subtitle-container {
  font-size: 40px;
  font-weight: bold;
  font-family: 'Patrick Hand', cursive;
  color: #EA4C29;
  padding-bottom: 40px;
  margin-top: 100px;
}

.row {
  display: inline;
  align-items: center;
  justify-content: center;
  align-self: center;
}

.row > button {
  margin-left: 20px;
  margin-right: 20px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.SocialButton {
  width: auto;
  margin-right: 20px;
}

.SocialButton:hover {

}

/* Adding transformation when the button is active */  
.SocialButton:active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

/* About us page */
.FounderProfile {
  height: auto;
  width: auto;
  max-width: 350px;
  min-width: 200px;

  display: inline-block;
  flex-wrap: wrap;

  border-width: 4px;
  border-color: black;
  border-radius: 10px;

  /* margin: 10%; */
  padding: 2%;
  margin: 10px;

  font-size: 20px;
  text-align: left;
  font-family: "Patrick Hand", cursive;

  justify-content: center;

  color: #EA4C29;
  background-color: #F4EFDB;
  box-shadow: 7px 6px 28px 3px rgba(0, 0, 0, 0.24);
}

.FounderTitle {
  font-weight: bold;
  text-align: center;
  font-family: "Bad Script", cursive;
}

.FounderPicture {
  max-height: 125px;
  max-width: 125px;

  margin: 0 auto;
  
  text-align: center;
  justify-content: middle;
  align-self: middle;
  display: block;
}

.row-prinicpals {
  min-width: 100%;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}