nav {
  position: fixed;
  top: 0;
  left:0;
  right: 0;
  width: 100%;
  height: 100px;
  padding: 10px 90px;
  box-sizing: border-box;
  background: transparent;
  transition: 0.4s;
}

.navLogo {
  padding: 22px 15px;
  height: 80px;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  color: #2f3c7e;
  float: left;
  text-decoration: none;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  float: right;
}

nav ul li a {
  line-height: 80px;
  padding: 12px 30px;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;

}

nav ul li a:hover {
  color: lightblue;
}

.navButton {
  color: #2f3c7e;
  margin: 3px;
}

.walletButton {
  color: white;
  background-color: #2f3c7e;
  border-radius: 10px;
  box-shadow: 7px 6px 28px 2px rgba(0, 0, 0, 0.24);
  margin: 5px;

}

.walletButton:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}
/* This is the end of the things I added, I didn't want to erase your stuff */



.topnav {
  overflow: hidden;
  background-color: #2f3c7e;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3c7e;
  min-height: "96px";
  color: #fbeaeb;
}

.leftbutton {
  height: 32px;
  border: 0;
  /* width: auto; */
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  background-color: #fbeaeb;
}

.rightbutton {
  height: 32px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  background-color: #fbeaeb;
}
