@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Patrick+Hand&display=swap");

/* ToolBar Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  padding: 15px;
  background-color: #F4EFDB;
}

.navBar {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;

  background: transparent;
  font-family: "Patrick Hand", cursive;
  background-color: #F4EFDB;
}

.navLogo {
  display: inline-block;
  margin-left: 10px;
  width: auto;
  max-width: 200px;
  min-height: 80px;
}

.navBar {
  max-height: 0;
  transition: max-height .5s ease-out;
  margin-top: 10px;

  max-width: 100%;
  left: 0;
}

.menu a{
  display: block;
  padding: 30px;
}


.hamb{
  cursor: pointer;
  float: right;
  padding: 40px 20px;
  background-color: #EA4C29;
  border-radius: 20px;
}/* Style label tag */

.hamb-line {
  display: block;
  height: 2px;
  position: relative;
  width: 24px;
  background-color: #F4EFDB;
  margin-top: 20%;
} /* Style span tag */

.hamb-line::before,
.hamb-line::after{
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.hamb-line::before{
  top: 5px;
}

.hamb-line::after{
  top: -5px;
}

.side-menu {
  display: none;
  max-width: 100%;
}

/* Toggle menu icon */
.side-menu:checked ~ nav{
  max-height: 100%;
}
.side-menu:checked ~ .hamb .hamb-line {
  background: transparent;
}
.side-menu:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top:0;
}
.side-menu:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top:0;
}

@media (min-width: 768px) {
  .navBar{
      max-height: none;
      top: 0;
      position: relative;
      float: right;
      width: fit-content;
      margin-top: 0%;
  }

  .menu li{
      float: left;
  }
  .menu a:hover{
    color: crimson;
  }

  .hamb{
      display: none;
  }
}

.navButton {
  color: #EA4C29;
}

.walletButton {
  color: white;
  background-color: #EA4C29;
  border-radius: 10px;

  height: auto;
  width: auto;

  align-content: center;
}

.walletButton:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */

  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

/* ToolBar Styling end */