.topnav {
  overflow: hidden;
  background-color: #2f3c7e;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04aa6d;
  color: white;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2f3c7e;
  min-height: "96px";
  color: #fbeaeb;
}

.leftbutton {
  height: 32px;
  border: 0;
  /* width: auto; */
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  background-color: #fbeaeb;
}

.rightbutton {
  height: 32px;
  border: 0;
  width: auto;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  background-color: #fbeaeb;
}
